@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/*Container Stuff*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

/**
* Mobile first strategy: put the phone size as default
* then use media query for desktop
*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* Desktop Column Sizing */
@media only screen and (min-width: 768px) {
	.col-1 {
	    width: 8.33%;
	    padding: 5px;
	}

	.col-2 {
	    width: 16.66%;
	    padding: 5px;
	}

	.col-3 {
	    width: 25%;
	    padding: 5px;
	}

	.col-4 {
	    width: 33.33%;
	    padding: 5px;
	}

	.col-5 {
	    width: 41.66%;
	    padding: 5px;
	}

	.col-6 {
	    width: 50%;
	    padding: 5px;
	}

	.col-7 {
	    width: 58.33%;
	    padding: 5px;
	}

	.col-8 {
	    width: 66.66%;
	    padding: 5px;
	}

	.col-9 {
	    width: 75%;
	    padding: 5px;
	}

	.col-10 {
	    width: 83.33%;
	    padding: 5px;
	}

	.col-11 {
	    width: 91.66%;
	    padding: 5px;
	}

	.col-12 {
	    width: 100%;
	    padding: 5px;
	}
}

/**********************
*
* This is the actual 
* styling of components
* for all pages
*
***********************/

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #FFF;
}

h1{
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 10px;
  font-size: 40px;
  color: #444;
}

button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
	background-color: #38a;
}

.studio {
	width: 100%
	height: 800px;
	padding-top: 10px;
}

.menu {
  float:left;
  width:100%;
  text-align:center;
  margin-top: 4px;
}

#results {
	color: #AAA;
}

.title {
	color: #777;
	font-size: 40px;
	font-weight: bold;
}

.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.main {
  float:left;
  width:100%;
  padding:0 20px;
}

.right {
  background-color:#e5e5e5;
  float:left;
  width:100%;
  padding: 15px;
  margin-top:10px;
  text-align:center;
}

.header {
	background-color:#e5e5e5;
	padding:15px;
	text-align:center;
}

/**********************
*
* This is the quiz.html 
* styling specific stuff
*
***********************/

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  margin-top: 40px;
  background: rgba(255,255,255,1);
	margin: 10px 3%;
	padding: 10px 20px 50px 20px;
	-webkit-box-shadow: 4px 4px 11px 3px rgba(170, 170, 170, 0.7);
  -moz-box-shadow: 4px 4px 11px 3px rgba(170, 170, 170, 0.7);
  box-shadow: 4px 4px 11px 3px rgba(170, 170, 170, 0.7);
  height: 300px;
  text-align: center;
}

/**********************
*
* This is the images.html 
* styling specific stuff
*
***********************/
#image-container {
  position: relative;
  margin-top: -30px;
  padding: 100px;
}

.wrap {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-wrap {
  overflow: hidden;
  margin: 10px;
  opacity: 1;
  z-index: 2;
}

.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}

.boxInner img {
   width: 100%;
}



body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}

@media only screen and (min-width : 651px) {
   /* Small desktop / ipad view: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}

